<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="jquery,ui,easy,easyui,web">
    <meta name="description" content="easyui help you build your web page easily!">
    <title>配置投票信息</title>
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/demo/demo.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.easyui-layout').layout({height: document.body.clientHeight * 0.7});
            $('#schema_tree').tree({
                url: '/getTree',
                onDblClick: function (node) {
                    if($('#tabs').tabs('exists',node.text)){
                        return;
                    }
                    var url = '/schemaView/'+node.id;
                    var content = '<iframe scrolling="auto" frameborder="0" src=" ' + url + '" style="width:100%;height:100%;"></ifrmae>';
                    $('#tabs').tabs('add', {
                        title: node.text,
                        content: content,
                        closable: true,
                        height: '100%',
                        tools: [{
                            iconCls: 'icon-mini-refresh',
                            handler: function () {
                                alert('refresh');
                            }
                        }]
                    });
                }
            });
        });

        function newTab(id) {


        }

        function createSchema(node) {

        }
    </script>
</head>
<body>
<div class="easyui-layout" style="width:100%;height:800px;">
    <div region="west" split="true" title="所有投票" style="width:150px;">
        <ul id="schema_tree" class="easyui-tree">

        </ul>
    </div>
    <div id="tabs" class="easyui-tabs" region="center" >

    </div>
</div>
</body>
</html>