<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>{&schema.schemaname&}</title>

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {#    <script src="/static/js/vote-boots/js/bootstrap.min.js"></script>#}
    {#    <link href="/static/js/vote-boots/css/bootstrap.min.css" rel="stylesheet">#}

</head>
<style>
    .panel-body{
        padding: 5px;
    }
    .blockleft,.blockright,.blockbottom{
        display: inline-block;
        margin: 0;
        vertical-align:top;
    }
    .blockleft{
        width: 30%;
    }
    .blockleft img{
        width: 100%;
    }
    .blockright{
        width: 65%;
    }
    .blockbottom{
        width: 100%;
    }
    .a{
        text-decoration: none;
    }
</style>
<script type="text/javascript">
    var mutimax = {& schema.mutimax &};
    var userid = '{&userid&}';
    var i_bz = '{&bz&}';
    var schema_id = {& schema.id &};
    var defaultSelected = new Array();
    var defaultItems_ps = {};
</script>
<body style="margin: 0;" ng-app="voteApp" ng-controller="appController">
{#<button style="position: fixed;top: 70%;right: 10px;z-index: 1;opacity: 0.7" class="btn btn-warning" type="button"#}
{#        ng-click="submit()">#}
{#    <span class="glyphicon glyphicon-ok"></span>#}
{#</button>#}
<div class="container">
    <div class="panel-group" id="accordion">
        {% set row,total = 1,0 %}
        <div class="row">
            {% for tuple in items %}
                {% set item=tuple[0] %}
                {% set selected=False %}
                <script type="text/javascript">
                {% if tuple[1]==None %}
                    {% set selected=False %}
                {% else %}
                    {% set selected=True %}
                    defaultSelected[defaultSelected.length] = '{&tuple[1]&}'
                {% endif %}
                {% if tuple[2]==None %}
                    defaultItems_ps['{&item.id&}'] = 0
                {% else %}
                    defaultItems_ps['{&item.id&}'] = {&tuple[2]&}
                {% endif %}
                </script>
                {% if total==0 %}
                    {% set total = loop.length %}
                {% endif %}
                {% if loop.index0>(4*row-1) %}
                    </div>
                    <div class="row">
                    {% set row = row + 1 %}
                {% endif %}

                <div class="col-md-4" style="margin: 10px 10px 10px 10px">
                    <div class="panel panel-info" style="background-color: #ddf4fa">
                        {#                    <div class="panel-heading">#}
                        {#                        <h3 class="panel-title">#}
                        {#                            {&item.itemtitle | truncate_html(18)&}#}
                        {#                        </h3>#}
                        {#                    </div>#}
                        <div class="panel-body">
                            <div class="blockleft">
                                {% if item.picurl==None %}
                                    <img src="/static/image/yuanxiao.png">
                                {% else %}
                                    <img src="{&item.picurl&}">
                                {% endif %}

                            </div>
                            <div class="blockright">
                                <p style="line-height: 20px;font-size: 16px">{&item.itemtitle&}</p>
                                <p style="line-height: 20px;color: red">{&item.itemdesc&}</p>
                            </div>
                            <div class="blockbottom">

                                {% if selected==True %}
                                    <a class="itemselected" id="btn{&item.id&}" bindid="{&item.id&}" ng-click="addSelect('{&item.id&}')"><i class="fa fa-check fa-lg pull-right"><font color="red" size="small">我最喜爱</font> </i></a>
{#                                    <button id="btn{&item.id&}" bindid="{&item.id&}" style="float: right;"#}
{#                                            class="btn btn-danger" type="button"#}
{#                                            ng-click="addSelect('{&item.id&}')">已选#}
{#                                    </button>#}
                                {% else %}
                                    <a class="itemnoselected" id="btn{&item.id&}" bindid="{&item.id&}" ng-click="addSelect('{&item.id&}')"><i class="fa fa-check-circle fa-lg pull-right"><font color="green" size="small">请选择</font> </i></a>
{#                                    <button id="btn{&item.id&}" bindid="{&item.id&}" style="float: right;"#}
{#                                            class="btn btn-primary" type="button"#}
{#                                            ng-click="addSelect('{&item.id&}')">请选择#}
{#                                    </button>#}
                                {% endif %}
{#                                <a href="#"><i class="fa fa-thumbs-o-up fa-lg pull-right"></i></a>#}
                            </div>

                            {#                        <a href="" ng-click="setItem('{&item.itemtitle&}','{&item.itemdesc&}','{&item.picurl&}')"#}
                            {#                           style="float: left;line-height: 40px">显示详情</a>#}
                        </div>
                    </div>

                </div>
            {% endfor %}
            {% if total%4==0 %}
                </div>
            {% endif %}
        <div class="row">
            <div class="col-md-4" style="margin: 10px 10px 10px 10px">
                <button style="float: right" class="btn btn-warning" type="button" ng-click="submitAction()" ng-disabled="fullSelect()"> &nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;</button>
                <a style="display:inline-block;text-decoration: none;line-height: 35px;float: right">请选择{&schema.mutimax&}个,已选择{{ selectItems.length }}个</a>
            </div>
        </div>
    </div>
</div>
<!-- 详情框 -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
     aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {{ detailItem.itemdesc }}<br>

                {#                <div style="text-align: center"><img style="width: 80%" ng-src="{{ detailItem.picurl }}"#}
                {#                                                     class="img-thumbnail"></div>#}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 详情框 -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="detailModalLabel">
                     请选择{&schema.mutimax&}个,已选择{{ selectItems.length }}个
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <div><textarea class="form-control" style="resize:none;height: 200px"
                                   placeholder="您可以在此留下您的宝贵意见.."
                                   name="bz"
                                   id="bz">{&bz&}</textarea></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal" ng-disabled="fullSelect()" ng-click="submitAction()">提交
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 详情框 -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {{ submitMsg }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<script src="http://cdn.bootcss.com/angular.js/1.3.0/angular.min.js"></script>
<script src="/static/js/weixin/qy/voteApp_qy.js?rq=13"></script>
</body>
</html>