<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>十大影响力事件评选结果</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="http://cdn.bootcss.com/reveal.js/2.6.2/css/reveal.css">
    <link rel="stylesheet" href="/static/js/reveal.js/css/theme/black.css" id="theme">

    <link rel="stylesheet" href="http://lib.mangezi.com/scripts/css/scene-swipe-v2.css" id="theme">
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/reveal.js/2.6.2/lib/css/zenburn.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    {#    <script src="http://cdn.bootcss.com/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>#}
    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>
<style>
    {#    .reveal .slides {#}
    {#        top: 40%;#}
    {#    }#}

    {#    .waps {#}
    {#        width: 100%;#}
    {#        text-align: center;#}
    {#        line-height: 28px;#}
    {#        font-size: 12px;#}
    {#        font-family: Arial, Helvetica, sans-serif;#}
    {##}
    {#    }#}
    {##}
    {#    .con {#}
    {#        text-align: left;#}
    {#        width: 100%;#}
    {#        margin: 0px auto;#}
    {#        padding: 10px 5px;#}
    {#        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important; /*实现FF背景透明，文字不透明*/#}
    {#        filter: Alpha(opacity=80);#}
    {#        background: #fff; /*实现IE背景透明*/#}
    {#        border-radius: 15px;#}
    {#        box-shadow:-5px -5px 5px #999 inset;#}
    {#    }#}

    .con p {
        position: relative;
        margin: 10px 10px 10px 10px;
    }

    /*实现IE文字不透明*/

    .reveal .slide-background {
        background-position: 0 0;
        background-size: 100% 100%;
    }

    .reveal p {
        font-size: 60px;
        color: #ffffff;
        -webkit-text-stroke: 2px #000000;
        text-align: left;
        font-weight: bold;
    }
</style>
<body>
{#<EMBED src="/static/media/bgaudio1.wav" hidden="no" loop="true" autostart="true"></EMBED>#}
{#<audio loop="loop" controls="controls" id="myaudio" oncanplaythrough="autoPlay()" preload="auto">#}
{#    <source src="/static/media/bgaudio1.wav">#}
{#</audio>#}
<div id="AudioPlayer"></div>
<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section data-background="/static/image/yxl2014/bg.png">
            <div class="shake shake-slow"><h1>厦门国贸集团2014年度十大影响力事件</h1></div>
        </section>

        <section data-background="/static/image/yxl2014/1e1.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 55%;">公司成功完成第4次再融资，通过配股方式增加股份333,634,134股，增加股本金1,397,927,021.46元。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e2.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: -60%;">为获得稳定优质的铁矿石资源，公司与澳大利亚罗伊山铁矿有限公司签订5年累计100亿元人民币的铁矿石长期采购协议</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e3.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 70%;">国贸汽车再次进入中国汽车经销商集团百强，获评中国汽车流通行业杰出贡献奖；开拓新能源汽车业务，成为特斯拉租赁方案租赁商。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e4.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: -40%;">公司公开摘牌受让厦门美岁商业投资有限公司全部股权，配合国贸商城、国贸金融中心建设，布局发展商业零售业务。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e5.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: -35%;">公司与福建中燃等企业合资成立国贸中燃（厦门）能源有限公司，投资开发液化天然气、压缩天然气等综合能源补给场站。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e6.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: -25%;">公司自有的两艘7.6万吨散货轮“白鹭洲号”和“凤凰海号”建成下水，投入运营。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e7.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 65%;">公司先后在上海自由贸易试验区和深圳前海深港现代服务业合作区设立子公司，发展供应链管理业务。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e8.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 0%;">国贸地产进入中国房地产开发企业百强；年度开发面积再创新高；在上海、厦门、合肥又获得新的土地储备，实现区域布局新跨越。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e9.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: -55%;">国贸金融板块又添新军，深圳金海峡融资租赁有限公司和国贸资本管理有限公司先后注册成立。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e10.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 75%;">国贸投资公司、船舶公司与上海东方汇富创业投资管理公司共同发起成立国贸东方海洋装备产业基金。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e11.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 40%;">
                        公司获评全国内部审计先进单位，全国守合同重信用企业；本年度位列2014最受赞赏中国公司贸易和进出口行业明星榜第5位、中国非金融类跨国公司百强第81位、中国上市公司500强第118位、中国500最具价值品牌第284位。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e12.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 65%;">国贸期货获得“产业服务先锋”称号，金海峡获得“中国担保成长先锋”称号。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e13.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 5%;">厦门国贸入选上海证券交易所融资融券标的股。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e14.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 72%;">《国贸在线》电子交易平台上线运营。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e15.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 5%;">公司获准集中管理运营境内外外汇资金，并成功注册80亿元超短融，既拓宽了融资渠道又可进一步降低公司资金成本。</p>
                </div>
            </div>

        </section>

        <section data-background="/static/image/yxl2014/1e16.jpg">
            <div class="waps">
                <div class="con">
                    <p style="margin-top: 80%;">公司与厦门大学国贸系共建MIB创新教育实习基地，多位领导受聘兼职导师。</p>
                </div>
            </div>

        </section>
    </div>

</div>

<script src="http://cdn.bootcss.com/reveal.js/2.6.2/lib/js/head.min.js"></script>
<script src="http://cdn.bootcss.com/reveal.js/2.6.2/js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        {#        autoSlide: 4000,#}
        controls: true,
        progress: false,
        history: true,
        center: true,
        backgroundTransition: 'zoom', // none/fade/slide/convex/concave/zoom
        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            {
                src: 'http://cdn.bootcss.com/reveal.js/2.6.2/lib/js/classList.js', condition: function () {
                return !document.body.classList;
            }
            },
            {
                src: 'http://cdn.bootcss.com/reveal.js/2.6.2/plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'http://cdn.bootcss.com/reveal.js/2.6.2/plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'http://cdn.bootcss.com/reveal.js/2.6.2/plugin/highlight/highlight.js',
                async: true,
                condition: function () {
                    return !!document.querySelector('pre code');
                },
                callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            },
            {src: 'http://cdn.bootcss.com/reveal.js/2.6.2/plugin/zoom-js/zoom.js', async: true},
            {src: 'http://cdn.bootcss.com/reveal.js/2.6.2/plugin/notes/notes.js', async: true}
        ]
    });

</script>

<!-- Everything below this point is unrelated to the slideshow -->

<script>
    var _gaq = [['_setAccount', 'UA-15240703-1'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
    })(document, 'script');
</script>

<script>
    if (!navigator.userAgent.match(/(iphone|android)/gi) && !!document.querySelector) {
        document.querySelector('.share-reveal').style.display = 'block';
        document.querySelector('.fork-reveal').style.display = 'block';
    }


    Reveal.addEventListener('slidechanged', function (event) {
        // event.previousSlide, event.currentSlide, event.indexh, event.indexv
        {#        alert(event.currentSlide)#}
    });


{#    var options_audio = {#}
{#        loop: true,#}
{#        preload: "auto",#}
{#        src: "/static/media/bgaudio1.wav"#}
{#    }#}
{#    var _audio = new Audio();#}
{#    for (var key in options_audio) {#}
{#        _audio[key] = options_audio[key];#}
{#    }#}
{#    $(document).one("touchstart", function (e) {#}
{#        try {#}
{#            _audio.play();#}
{#        } catch (e) {#}
{#        }#}
{#    });#}
{#    try {#}
{#        _audio.play();#}
{#    } catch (e) {#}
{#    }#}


</script>

</body>
</html>
