<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>人才发展</title>
<meta http-equiv="Cache-control" content="no-cache" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,user-scalable=no" />
</head>
<link rel="stylesheet" type="text/css" href="/static/css/weixin/main.css" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<body id="mod0">
	<div id="mod1" class="wp onshow">
		<h3 style="margin-top:30px;margin-left:40px;text-align: left;display: inline-block;line-height:40px;width: 100%;"><font style="font-size:22px;color: red;text-shadow: black;">薪酬福利</font></h3>
        <div class="main">
        	<a href="/imageView/develop-xc1.png"><img src="/static/image/develop-xc1.png" style="width:100%;"> </a>
            <div class="box" style="text-align: left;">
            	<br />
            	<br />
		　 		<p><font style="font-size: 18px;text-shadow:1px 1px 3px #000;color: red">“兵马未动，粮草先行”。</font></p>
				<br />
				<p><font style="font-size: 16px">ITG为您提供足够体面的薪酬福利待遇，让您能够放开了手脚冲锋陷阵。</font></p>
            </div>
            
        </div>
    </div>
    <div id="mod2" class="wp nodis">
        <h3 style="margin-top:30px;margin-left:40px;text-align: left;display: inline-block;line-height:40px;width: 100%;"><font style="font-size:22px;color: red;text-shadow: black;">职业生涯发展</font></h3>
        <div class="main">
        	<a href="/imageView/develop-fztd1.png" style="width:100%;"><img src="/static/image/develop-fztd1.png" style="width:100%;"></a>
            <div class="box" style="text-align: left;">
            	<br />
            	<br />
		　 		<p><font style="font-size: 18px;text-shadow:1px 1px 3px #000;color: red">“不想当将军的司机不是好厨子”。</font></p>
				<br />
				<p><font style="font-size: 16px">进入公司，您可选择绿色、蓝色和红色三种职业生涯发展通道。</font></p>
            </div>
        </div>
    </div>
    <div id="mod3" class="wp nodis">
        <h3 style="margin-top:30px;margin-left:40px;text-align: left;display: inline-block;line-height:40px;width: 100%;"><font style="font-size:22px;color: red;text-shadow: black;">培训发展</font></h3>
        <div class="main">
        	<a href="/imageView/develop-rctd1.png"><img src="/static/image/develop-rctd1.png" style="width:100%;"></a>
            <div class="box" style="text-align: left;">
            	<br />
            	<br />
		　 		<p><font style="font-size: 18px;text-shadow:1px 1px 3px #000;color: red">“哥不寂寞，因为有培训陪着哥。”</font></p>
				<br />
				<p><font style="font-size: 16px">ITG已建立起一套深入业务、直达业务一线的培训体系，根据不同岗位、不同级别设计不同的课程系列，保证让每一个员工都能在国贸大学校中享受到学习和成长的快乐。</font></p>
            </div>
        </div>
    </div>
    
    <div id="prev" style="display:none"></div>
    <div id="next"></div>
</body>
<script src="/static/js/weixin/zp/touch_demo7.js"></script>
<script type="text/javascript">
	var noTouch = false;
	$(document).ready(function(){
		
	});
	$('.box').each(function(){$(this).css({marginTop:'-'+$(this).outerHeight()/2+'px'});});
</script>
</html>
