<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>国贸校招</title>
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/zp/main3.css"/>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<style>
    #mod5 ul {
        width: 100%
    }

    #mod5 li:nth-child(odd) {
        text-align: left;
        display: block;
        height: 13%
    }

    #mod5 li:nth-child(even) {
        text-align: right;
        display: block;
        height: 13%
    }

    .mod5-left {
        width: 55%;
        height: 100%;
        display: inline-block;
        background-image: url(/static/image/zp/pic/2-5-left.png);
        background-repeat: no-repeat;
        margin-top: 30px;
        background-size: contain;
        text-align: left;
        line-height: 100%;
    }

    .mod5-right {
        width: 55%;
        height: 100%;
        display: inline-block;
        background-image: url(/static/image/zp/pic/2-5-right.png);
        background-repeat: no-repeat;
        margin-top: 30px;
        background-size: contain;
        text-align: right;
        line-height: 100%;
    }

    #mod5 li a {
        display: block;
        height: 100%;
        margin-top: 10%;
        text-align: center;
    }

    #mod7 .region {
        width: 100%;
        float: left;
        text-align: center;

    }

    #mod7 .zw {
        display: inline-block;
        width: 20%;
        padding: 5px 5px 5px 5px;
    }

    #mod7 .zw_p {
        height: 20%;
        border-radius: 10px 10px 10px 10px;
        background-color: white;
    }

    #mod7 img {
        width: 90%;
    }

    #mod7 a {
        line-height: 60px;
        display: block;
        color: white;
    }
</style>

<body id="mod0">
<div class="detail_cover detail_hide" onclick="hidedetail()" id="detail_cover"></div>
<div id="mod1" class="wp onshow">
    <div class="main">
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 2;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-1-b.jpg"/>
        </div>
    </div>
</div>
<div id="mod2" class="wp">
    <div class="main">
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-2-b.png"/>
        </div>
        <div class="fadein">
            <img style="position: absolute;top:0;left:0;z-index: 2;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-2-w.png"/>
        </div>
    </div>
</div>
<div id="mod3" class="wp">
    <div class="main">
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-3-b.png"/>
        </div>
        <div class="fadein">
            <img style="position: absolute;top:0;left:0;z-index: 2;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-3-w.png"/>
        </div>
    </div>
</div>
<div id="mod4" class="wp">
    <div class="main">
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-4-b.png"/>
        </div>
        <div class="fadein">
            <img style="position: absolute;top:0;left:0;z-index: 2;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-4-w.png"/>
        </div>
    </div>
</div>
<div id="mod5" class="wp">
    <div class="main">
        <div class="detail_hide" onclick="hidedetail('mod5_1')" id="mod5_1">
            <ul>
                <li style="text-align: left;"><strong><font color="red">中南财经政法大学</font></strong></li>
                <li style="text-align: left;">2014年10月15日 18:30</li>
                <li style="text-align: left;">工商管理学院文泉五楼会议室</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod5_2')" id="mod5_2">
            <ul>
                <li style="text-align: left;"><strong><font color="red">南开大学</font></strong></li>
                <li style="text-align: left;">2014年10月17日 18:30</li>
                <li style="text-align: left;">伯苓楼二楼多功能厅</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod5_3')" id="mod5_3">
            <ul>
                <li style="text-align: left;"><strong><font color="red">四川大学</font></strong></li>
                <li style="text-align: left;">2014年11月03日 18:30</li>
                <li style="text-align: left;">就业指导中心209室</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod5_4')" id="mod5_4">
            <ul>
                <li style="text-align: left;"><strong><font color="red">中山大学</font></strong></li>
                <li style="text-align: left;">2014年11月05日 18:30</li>
                <li style="text-align: left;">东校区行政楼B101</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod5_5')" id="mod5_5">
            <ul>
                <li style="text-align: left;"><strong><font color="red">上海财经大学</font></strong></li>
                <li style="text-align: left;">2014年11月07日 18:30</li>
                <li style="text-align: left;">武东校区学生中心三楼招聘大厅</li>
            </ul>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-5-b.png"/>
        </div>
        <div style="position: absolute;top:20%;left:0;z-index: 2;width: 100%;height: 100%">
            <ul style="width: 100%;height: 100%">
                <li>
                    <div class="mod5-left show_left" onclick="showdetail('mod5_1','right',this)"><a><u>中南财经政法大学
                        10月15日</u></a></div>
                </li>
                <li>
                    <div class="mod5-right show_right" onclick="showdetail('mod5_2','left',this)"><a><u>南开大学 10月17日</u></a>
                    </div>
                </li>
                <li>
                    <div class="mod5-left show_left" onclick="showdetail('mod5_3','right',this)"><a><u>四川大学
                        11月3日</u></a></div>
                </li>
                <li>
                    <div class="mod5-right show_right" onclick="showdetail('mod5_4','left',this)"><a><u>中山大学
                        11月5日</u></a></div>
                </li>
                <li>
                    <div class="mod5-left show_left" onclick="showdetail('mod5_5','right',this)"><a><u>上海财经大学 11月7日</u></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="mod6" class="wp">
    <div class="main">
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-6-b.png"/>
        </div>
    </div>
</div>
<div id="mod7" class="wp">
    <div class="main">
        <div class="detail_hide" onclick="hidedetail('mod7_1')" id="mod7_1">
            <ul>
                <li><strong><font color="red">后勤职能类</font></strong></li>
                <li><strong><font color="blue">职位说明：</font></strong></li>
                <li>职能部门负责财务核算、风险管理、物流管理、法务合规等工作</li>
                <li><strong><font color="blue">专业要求：</font></strong></li>
                <li>会计、财务、国贸、经济、物流管理等专业本科学历</li>
                <li><strong><font color="blue">工作地点：</font></strong></li>
                <li>厦门、广州、青岛、河南、福建及区域公司</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod7_2')" id="mod7_2">
            <ul>
                <li><strong><font color="red">贸易类</font></strong></li>
                <li><strong><font color="blue">职位说明：</font></strong></li>
                <li>贸易板块负责业务或业务内勤等工作</li>
                <li><strong><font color="blue">专业要求：</font></strong></li>
                <li>国贸、经济类、造纸、印刷、冶金、纺织等专业本科学历</li>
                <li><strong><font color="blue">工作地点：</font></strong></li>
                <li>北京、天津、成都、上海、浙江、汕头、厦门、福州</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod7_3')" id="mod7_3">
            <ul>
                <li><strong><font color="red">物流类</font></strong></li>
                <li><strong><font color="blue">职位说明：</font></strong></li>
                <li>物流板块负责结算、业务助理、进口业务、客服等工作</li>
                <li><strong><font color="blue">专业要求：</font></strong></li>
                <li>国际贸易、物流管理、木材科学与木材经济、英语等专业本科学历</li>
                <li><strong><font color="blue">工作地点：</font></strong></li>
                <li>厦门、广州、深圳、东莞</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod7_4')" id="mod7_4">
            <ul>
                <li><strong><font color="red">汽车类</font></strong></li>
                <li><strong><font color="blue">职位说明：</font></strong></li>
                <li>汽车行业担任销售管培生、售后管培生等职位</li>
                <li><strong><font color="blue">专业要求：</font></strong></li>
                <li>汽车类、营销类、管理类等专业本科学历</li>
                <li><strong><font color="blue">工作地点：</font></strong></li>
                <li>厦门</li>
            </ul>
        </div>
        <div class="detail_hide" onclick="hidedetail('mod7_5')" id="mod7_5">
            <ul>
                <li><strong><font color="red">金融类</font></strong></li>
                <li><strong><font color="blue">职位说明：</font></strong></li>
                <li>金融板块担任期货研究员、期货业务员、产品经理、客户经理等职位</li>
                <li><strong><font color="blue">专业要求：</font></strong></li>
                <li>金融、经济、营销类、金融、经济、财务、投资等专业本科及以上学历</li>
                <li><strong><font color="blue">工作地点：</font></strong></li>
                <li>厦门、上海、晋江</li>
            </ul>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-7-b.png"/>
        </div>
        <div style="position: absolute;top:60%;left:0;z-index: 2;width: 100%;height: 100%">
            <div class="region">
                <div class="show_left">
                    <div class="zw">
                        <div class="zw_p" style="background-color: #47B96A"><a
                                href="javascript:showdetail('mod7_1')"><u>后勤职能类</u></a></div>
                    </div>
                    <div class="zw">
                        <div><img src="/static/image/zp/test/zw.png"/></div>
                    </div>
                    <div class="zw">
                        <div class="zw_p" style="background-color: #98D6A3"><a
                                href="javascript:showdetail('mod7_2')"><u>贸易类</u></a></div>
                    </div>
                </div>
            </div>
            <div class="region">
                <div class="show_right">
                    <div class="zw">
                        <div class="zw_p" style="background-color: #FFA2A7"><a
                                href="javascript:showdetail('mod7_3')"><u>物流类</u></a></div>
                    </div>
                    <div class="zw">
                        <div class="zw_p" style="background-color: #FFD155"><a
                                href="javascript:showdetail('mod7_4')"><u>汽车类</u></a></div>
                    </div>
                    <div class="zw">
                        <div class="zw_p" style="background-color: #FEB28C"><a
                                href="javascript:showdetail('mod7_5')"><u>金融类</u></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mod8" class="wp">
    <div class="main">
        <div class="detail_hide" style="top: 20%; left: 10%;width: 80%;font-size: medium;"
             onclick="hidedetail('mod8_1')" id="mod8_1">
            <ul>
                <li style="text-align: left;"><strong><font color="red">应聘流程：</font></strong></li>
                <li style="text-align: left;"><strong><font color="blue">1,网申：</font></strong></li>
                <li style="text-align: left;">请登录厦门国贸校园招聘页面http://itg.zhaopin.com投递简历，网申时间为9月至11月15日</li>
                <li style="text-align: left;"><strong><font color="blue">2,在线测评</font></strong></li>
                <li style="text-align: left;">在线投递简历时，您将收到测评邀约，请在线完成测评，测评时间约为40分钟</li>
                <li style="text-align: left;"><strong><font color="blue">3,面试</font></strong></li>
                <li style="text-align: left;">以短信及邮件方式邀约面试，面试时间地点见短信及邮件邀约。</li>
                <li style="text-align: left;"><strong><font color="blue">4,录取</font></strong></li>
                <li style="text-align: left;">面试结束后，陆续发放offer，安排签约</li>
            </ul>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 0;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-bg.png"/>
        </div>
        <div>
            <img style="position: absolute;top:0;left:0;z-index: 1;width: 100%;height: 100%"
                 src="/static/image/zp/pic/2-8-b.png"/>
        </div>
        <div>
            <img style="position: absolute;top:65%;left:0;z-index: 1;width: 100%;" onclick="showdetail('mod8_1')"
                 src="/static/image/zp/pic/2-8-w.png"/>
        </div>
    </div>
</div>

<div id="prev" style="display:none"></div>
<div id="next" class="slight"></div>
</body>
<script src="/static/js/weixin/zp/touch_demo7.js"></script>
<script type="text/javascript">
    var noTouch = false;
    var modid = '{&modid&}';
    $(document).ready(function () {

        if (modid && modid != "1") {
            //$(".nodis").css({display:'none'});
            //$("#prev").css({display:'none'});
            //$("#next").css({display:'none'});

            var onshow = $('div.onshow');
            var now = $("#mod" + modid);
            $('#next').removeClass('slight');
            $('#next').css({display: now.next('div.wp').attr('id') ? '' : 'none'});
            $('#prev').css({display: now.prev('div.wp').attr('id') ? '' : 'none'});
            now.prevAll('div.wp').css({display: 'none'});
            now.addClass('onshow');
            onshow.removeClass('onshow');

            if (modid == '8') {
                showdetail('mod8_1');
            }
            //onshow.slideUp();
        }
    });


</script>
</html>

