<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>经营业务</title>
<meta http-equiv="Cache-control" content="no-cache" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,user-scalable=no" />
</head>
<link rel="stylesheet" type="text/css" href="/static/css/weixin/main.css" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<body id="mod0">
    <div id="mod1" class="wp onshow">
		<h3 style="margin-top:10%;margin-left:40px;text-align: left;display: inline-block;line-height:40px;width: 100%;"><font style="font-size:22px;color: red;text-shadow: black;">供应链管理</font></h3>
        <div class="main">
        	<img src="/static/image/location-2.jpg" style="width:100%;">
            <div class="box" style="text-align: left;;margin-top:30%">
		　 		<p>&nbsp;&nbsp;&nbsp;&nbsp;供应链管理涵盖了贸易、物流、汽车经销和商业零售四个子板块，连年进入中国进出口额最大的500家企业行列，为中国物流百强、中国汽车经销商集团百强。</p>
            </div>
        </div>
    </div>
    <div id="mod2" class="wp nodis">
		<h3 style="margin-top:10%;margin-left:40px;text-align: left;display: inline-block;line-height:40px;width: 100%;"><font style="font-size:22px;color: red;text-shadow: black;">房地产经营</font></h3>
        <div class="main">
        	<img src="/static/image/location-3.jpg" style="width:100%;">
            <div class="box" style="text-align: left;margin-top:30%;">
		　 		<p>&nbsp;&nbsp;&nbsp;&nbsp;房地产经营涵盖住宅地产与商业地产，为中国房地产百强企业。公司长期致力于高端楼盘的开发建设，形成了以厦门为中心，辐射上海、安徽、南昌和福建其他地区的区域布局。</p>
            </div>
        </div>
    </div>
    <div id="mod3" class="wp nodis">
		<h3 style="margin-top:10%;margin-left:40px;text-align: left;display: inline-block;line-height:40px;width: 100%;"><font style="font-size:22px;color: red;text-shadow: black;">金融服务</font></h3>
        <div class="main">
        	<img src="/static/image/location-4.jpg" style="width:100%;">
            <div class="box" style="text-align: left;margin-top:30%;">
		　 		<p>&nbsp;&nbsp;&nbsp;&nbsp;金融服务是国贸新兴业务板块，业务发展的重要增长极和助推器。国贸期货公司主营商品期货经纪、金融期货经纪、资产管理和风险管理等业务。金海峡投资是为中小微企业提供金融服务的平台，从事担保、典当和融资租赁等业务。</p>
            </div>
        </div>
    </div>
    <div id="prev" style="display:none"></div>
    <div id="next"></div>
</body>
<script src="/static/js/weixin/touch_demo7.js"></script>
<script type="text/javascript">
	var noTouch = false;
	$(document).ready(function(){
		
	});
	$('.box').each(function(){$(this).css({marginTop:'-'+$(this).outerHeight()/2+'px'});});
</script>
</html>
